main {
    padding-top: 1px;
    min-height: calc( 100vh - 100px);
}


.card{
    transition: .4s;
    user-select: none;
}
.card:hover{
    box-shadow: #ddd 1px 5px 20px;
}
.card-title:hover a{
    text-decoration: none !important;
}

