main {
    padding-top: 1px;
    min-height: calc( 100vh - 100px);
}

img {
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

.card{
    transition: .4s;
    user-select: none;
}
.card:hover{
    box-shadow: #ddd 1px 5px 20px;
}
.card-title:hover a{
    text-decoration: none !important;
}

